<app-navbar></app-navbar>

<div class="my-5 px-4 ">
  <h2 class="fw-bold h-font text-center ">OUR FACILITIES</h2>
  <div class="h-line bg-dark "></div>
  <p class="text-center  mt-3 ">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore voluptatem laudantium iste nihil! <br>Impedit quis corrupti dignissimos illo perferendis distinctio non. Enim possimus aperiam soluta facere, nihil vero quasi voluptate!
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-5 px-4">
      <div class="bg-white rounded shadow px-4 border-top border-4 border-dark pop p-4 pb-4 ">
        <div class="d-flex align-items-center mb-2 ">
          <img src="../../../assets/facilities/IMG_27079.svg" width="40px">
        <h5 class="m-0 ms-3">Geyser</h5>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptates esse cum sapiente odit nesciunt commodi.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-5 px-4">
      <div class="bg-white rounded shadow px-4 border-top border-4 border-dark pop p-4 pb-4 ">
        <div class="d-flex align-items-center mb-2 ">
          <img src="../../../assets/facilities/IMG_41622.svg" width="40px">
        <h5 class="m-0 ms-3">Televison</h5>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptates esse cum sapiente odit nesciunt commodi.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-5 px-4">
      <div class="bg-white rounded shadow px-4 border-top border-4 border-dark pop p-4 pb-4 ">
        <div class="d-flex align-items-center mb-2 ">
          <img src="../../../assets/facilities/IMG_43553.svg" width="40px">
        <h5 class="m-0 ms-3">Wifi</h5>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptates esse cum sapiente odit nesciunt commodi.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-5 px-4">
      <div class="bg-white rounded shadow px-4 border-top border-4 border-dark pop p-4 pb-4 ">
        <div class="d-flex align-items-center mb-2 ">
          <img src="../../../assets/facilities/IMG_47816.svg" width="40px">
        <h5 class="m-0 ms-3">Spa</h5>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptates esse cum sapiente odit nesciunt commodi.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-5 px-4">
      <div class="bg-white rounded shadow px-4 border-top border-4 border-dark pop p-4 pb-4 ">
        <div class="d-flex align-items-center mb-2 ">
          <img src="../../../assets/facilities/IMG_49949.svg" width="40px">
        <h5 class="m-0 ms-3">Air Conditioner</h5>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptates esse cum sapiente odit nesciunt commodi.
        </p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-5 px-4">
      <div class="bg-white rounded shadow px-4 border-top border-4 border-dark pop p-4 pb-4 ">
        <div class="d-flex align-items-center mb-2 ">
          <img src="../../../assets/facilities/IMG_96423.svg" width="40px">
        <h5 class="m-0 ms-3">Room Heater</h5>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda voluptates esse cum sapiente odit nesciunt commodi.
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
