.h-line{
  width: 150px;
  margin: 0 auto;
  height: 1.7px;
}
*{
  font-family: 'Poppins';
}
body{
  background-color:rgb(250, 250, 250);
}
.h-font{
  font-family: 'Merienda';
}

.pop:hover{
  border-top-color: #2ec1ac !important;
  transform: scale(1.03);
  transition: all 0.3s;
}
.box:hover{
  border-top-color: #2ec1ac !important;
}
