.h-line{
  width: 150px;
  margin: 0 auto;
  height: 1.7px;
}
*{
  font-family: 'Poppins';
}
body{
  background-color:rgb(250, 250, 250);
}
.h-font{
  font-family: 'Merienda';
}
.custom-bg
{
  background-color: #2ec1ac;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
