<app-navbar></app-navbar>

 <div class="container-fluid">
  <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="30" effect="fade" loop="true" autoplay-delay="3000" autoplay-disable-on-interaction="false">
    <swiper-slide>
      <img src="../../../assets/carousel/IMG_15372.png" class="w-100 d-block" />
    </swiper-slide>
    <swiper-slide>
      <img src="../../../assets/carousel/IMG_40905.png" class="w-100 d-block" />
    </swiper-slide>
    <swiper-slide>
           <img src="../../../assets/carousel/IMG_55677.png" class="w-100 d-block" />
    </swiper-slide>
    <swiper-slide>
      <img src="../../../assets/carousel/IMG_62045.png" class="w-100 d-block" />
    </swiper-slide>
    <swiper-slide>
      <img src="../../../assets/carousel/IMG_93127.png" class="w-100 d-block" />
    </swiper-slide>
    <swiper-slide>
      <img src="../../../assets/carousel/IMG_99736.png" class="w-100 d-block" />
    </swiper-slide>
  </swiper-container>
 </div>
 <!-- <div class="container-fluid ">
  <img src="../../../assets/carousel/IMG_15372.png" class="w-100 d-block" />
 </div> -->

<div class="container availability-form">
  <div class="row">
    <div class="col-lg-12 bg-white shadow p-4 rounded">
      <h5 class="mb-4">Check Booking Availability</h5>
      <form action="">
        <div class="row align-items-end">
          <div class="col-lg-2 mb-3">
            <label  class="form-label" style="font-weight: 500;">Where are you going?</label>
            <input type="text" class="form-control shadow-none" placeholder="Ex: Agra">
          </div>
          <div class="col-lg-2 mb-3">
            <label  class="form-label" style="font-weight: 500;">Check-in</label>
            <input type="date" class="form-control shadow-none">
          </div>
          <div class="col-lg-2 mb-3">
            <label  class="form-label" style="font-weight: 500;">Check-out</label>
            <input type="date" class="form-control shadow-none">
          </div>
          <div class="col-lg-3 mb-3">
            <label  class="form-label" style="font-weight: 500;">Adult</label>
            <select class="form-select shadow-none" >
              <option selected>one</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="3">four</option>
              <option value="3">five</option>
            </select>
          </div>
          <div class="col-lg-2 mb-3">
            <label  class="form-label" style="font-weight: 500;">Children</label>
            <select class="form-select shadow-none" >
              <option selected>one</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
              <option value="3">four</option>
              <option value="3">five</option>
            </select>
          </div>
          <div class="col-lg-1 mt-2 mb-lg-3">
            <a type="submit" class="btn text-white shadow-none custom-bg" routerLink="/room">Search</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<h2 class="mt-5 pt-4 mb-4 text-center fw-bold h-font">OUR ROOMS</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 my-3">
      <div class="card border-0 shadow " style="max-width: 350px;margin:auto;">
        <img src="../../../assets/rooms/IMG_11892.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>Supreme Deluxe Room</h5>
          <h6 class="mb-4">₹900 per night</h6>
          <div class="features mb-4">
            <h6 class="mb-1">Features</h6>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Bedroom
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Bathooms
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Kitchen
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Balcony
            </span>
          </div>
          <div class="facilities mb-4">
            <h6 class="mb-1">Facilities</h6>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Wifi
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Televison
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Air Conditioner
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Room heater
            </span>
          </div>
          <div class="guest mb-4">
            <h6 class="mb-1">Guest</h6>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              5 Adults
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
            4 Children
            </span>
          </div>
          <div class="rating mb-4">
            <h6 class="mb-1">Rating</h6>
            <span class="badge rounded-pill bg-light">
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
            </span>
          </div>
          <div class="d-flex justify-content-evenly mb-2">
            <a href="#" class="btn btn-sm text-white custom-bg shadow-none ">Book Now </a>
            <a href="#" class="btn btn-sm btn-outline-dark shadow-none ">More details </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 my-3">
      <div class="card border-0 shadow " style="max-width: 350px;margin:auto;">
        <img src="../../../assets/rooms/IMG_42663.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>Deluxe Room</h5>
          <h6 class="mb-4">₹400 per night</h6>
          <div class="features mb-4">
            <h6 class="mb-1">Features</h6>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Bedroom
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
             Balcony
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Sofa
            </span>
          </div>
          <div class="facilities mb-4">
            <h6 class="mb-1">Facilities</h6>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Wifi
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Televison
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Air Conditioner
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Room heater
            </span>
          </div>
          <div class="guest mb-4">
            <h6 class="mb-1">Guest</h6>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              5 Adults
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
            4 Children
            </span>
          </div>
          <div class="rating mb-4">
            <h6 class="mb-1">Rating</h6>
            <span class="badge rounded-pill bg-light">
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
            </span>
          </div>
          <div class="d-flex justify-content-evenly mb-2">
            <a href="#" class="btn btn-sm text-white custom-bg shadow-none ">Book Now </a>
            <a href="#" class="btn btn-sm btn-outline-dark shadow-none ">More details </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 my-3">
      <div class="card border-0 shadow " style="max-width: 350px;margin:auto;">
        <img src="../../../assets/rooms/IMG_39782.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5>Luxury Room</h5>
          <h6 class="mb-4">₹500 per night</h6>
          <div class="features mb-4">
            <h6 class="mb-1">Features</h6>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              bedroom
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Bathooms
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Balcony
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Kitchen
            </span>
          </div>
          <div class="facilities mb-4">
            <h6 class="mb-1">Facilities</h6>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Wifi
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Televison
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Air Conditioner
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              Room heater
            </span>
          </div>
          <div class="guest mb-4">
            <h6 class="mb-1">Guest</h6>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
              3 Adults
            </span>
            <span class="badge rounded-pill bg-light text-dark mb-3 text-wrap lh-base">
            2 Children
            </span>
          </div>
          <div class="rating mb-4">
            <h6 class="mb-1">Rating</h6>
            <span class="badge rounded-pill bg-light">
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
              <i class="bi bi-star-fill text-warning"></i>
            </span>
          </div>
          <div class="d-flex justify-content-evenly mb-2">
            <a href="#" class="btn btn-sm text-white custom-bg shadow-none ">Book Now </a>
            <a href="#" class="btn btn-sm btn-outline-dark shadow-none ">More details </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-12 text-center mt-5">
      <a href="#" class="btn btn-sm btn-outline-dark rounded-0 fw-bold shadow-none">More Rooms >>></a>
    </div>
  </div>
</div>

<h2 class="mt-5 pt-4 mb-4 text-center fw-bold h-font">OUR FACILITIES</h2>
<div class="container">
  <div class="row justify-content-evenly px-lg-0  px-md-0  px-5 ">
    <div class="col-lg-2 col-md-2 text-center bg-white rounded shadow py-4 my-3 ">
      <img src="../../../assets/facilities/IMG_27079.svg" width="80px" alt="">
      <h5 class="mt-3">Geyser</h5>
    </div>
    <div class="col-lg-2 col-md-2 text-center bg-white rounded shadow py-4 my-3 ">
      <img src="../../../assets/facilities/IMG_41622.svg" width="80px" alt="">
      <h5 class="mt-3">Televison</h5>
    </div>
    <div class="col-lg-2 col-md-2 text-center bg-white rounded shadow py-4 my-3 ">
      <img src="../../../assets/facilities/IMG_43553.svg" width="80px" alt="">
      <h5 class="mt-3">Wifi</h5>
    </div>
    <div class="col-lg-2 col-md-2 text-center bg-white rounded shadow py-4 my-3 ">
      <img src="../../../assets/facilities/IMG_47816.svg" width="80px" alt="">
      <h5 class="mt-3">Spa</h5>
    </div>
    <div class="col-lg-2 col-md-2 text-center bg-white rounded shadow py-4 my-3 ">
      <img src="../../../assets/facilities/IMG_96423.svg" width="80px" alt="">
      <h5 class="mt-3">Room Heater</h5>
    </div>
    <div class="col-lg-12 text-center mt-5 ">
      <a href="#" class="btn btn-sm btn-outline-dark rounded-0 fw-bold shadow-none">More Facilities >>></a>
    </div>

  </div>
</div>

<h2 class="mt-5 pt-4 mb-4 text-center fw-bold h-font">TESTIMONIALS</h2>
 <div class="container">
   <swiper-container class="mySwiper mb-5"    effect="coverflow"  centered-slides="true"
    coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
   coverflow-effect-modifier="1" coverflow-effect-slide-shadows="false" loop="true" slides-per-view="3">
    <swiper-slide class="bg-white p-4">
      <div class="profile d-flex  align-items-center mb-3">
        <i class="bi bi-star-fill" width="30px"></i>
        <h6 class="m-0 ms-2 ">Aryan</h6>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, enim recusandae. Fugit corrupti debitis beatae, eligendi corporis aliquid libero dicta
        mollitia aspernatur asperiores ratione alias nesciunt architecto, est incidunt nihil?
      </p>
      <div class="rating">
        <i class="bi bi-star-fill text-warning "></i>
        <i class="bi bi-star-fill text-warning "></i>
        <i class="bi bi-star-fill text-warning "></i>
      </div>
    </swiper-slide>
    <swiper-slide class="bg-white p-4">
      <div class="profile d-flex  align-items-center mb-3">
        <i class="bi bi-star-fill" width="30px"></i>
        <h6 class="m-0 ms-2 ">Madhav</h6>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, enim recusandae. Fugit corrupti debitis beatae, eligendi corporis aliquid libero dicta
        mollitia aspernatur asperiores ratione alias nesciunt architecto, est incidunt nihil?
      </p>
      <div class="rating">
        <i class="bi bi-star-fill text-warning "></i>
        <i class="bi bi-star-fill text-warning "></i>
      </div>
    </swiper-slide>
    <swiper-slide class="bg-white p-4">
      <div class="profile d-flex  align-items-center mb-3">
        <i class="bi bi-star-fill" width="30px"></i>
        <h6 class="m-0 ms-2 ">Archit</h6>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, enim recusandae. Fugit corrupti debitis beatae, eligendi corporis aliquid libero dicta
        mollitia aspernatur asperiores ratione alias nesciunt architecto, est incidunt nihil?
      </p>
      <div class="rating">
        <i class="bi bi-star-fill text-warning "></i>
        <i class="bi bi-star-fill text-warning "></i>
        <i class="bi bi-star-fill text-warning "></i>
        <i class="bi bi-star-fill text-warning "></i>
        <i class="bi bi-star-fill text-warning "></i>
      </div>
    </swiper-slide>
    <swiper-slide class="bg-white p-4">
      <div class="profile d-flex  align-items-center mb-3">
        <i class="bi bi-star-fill" width="30px"></i>
        <h6 class="m-0 ms-2 ">Eshan</h6>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, enim recusandae. Fugit corrupti debitis beatae, eligendi corporis aliquid libero dicta
        mollitia aspernatur asperiores ratione alias nesciunt architecto, est incidunt nihil?
      </p>
      <div class="rating">
        <i class="bi bi-star-fill text-warning "></i>
      </div>
    </swiper-slide>
    <swiper-slide class="bg-white p-4">
      <div class="profile d-flex  align-items-center mb-3">
        <i class="bi bi-star-fill" width="30px"></i>
        <h6 class="m-0 ms-2 ">Shamitha</h6>
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, enim recusandae. Fugit corrupti debitis beatae, eligendi corporis aliquid libero dicta
        mollitia aspernatur asperiores ratione alias nesciunt architecto, est incidunt nihil?
      </p>
      <div class="rating">
        <i class="bi bi-star-fill text-warning "></i>
        <i class="bi bi-star-fill text-warning "></i>
        <i class="bi bi-star-fill text-warning "></i>
        <i class="bi bi-star-fill text-warning "></i>
        <i class="bi bi-star-fill text-warning "></i>
      </div>
    </swiper-slide>
  </swiper-container>
  <div class="col-lg-12 text-center mt-5 ">
    <a href="#" class="btn btn-sm btn-outline-dark rounded-0 fw-bold shadow-none">Know More >>></a>
  </div>
</div>

<h2 class="mt-5 pt-4 mb-4 text-center fw-bold h-font">REACH US</h2>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-8 mb-lg-0 mb-3 bg-white rounded">
      <iframe class="rounded w-100" height="320px" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d113579.7697542569!2d77.98001294999999!3d27.1761745!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39740d857c2f41d9%3A0x784aef38a9523b42!2sAgra%2C%20Uttar%20Pradesh!5e0!3m2!1sen!2sin!4v1713519227388!5m2!1sen!2sin"  loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-lg-4 col-md-4">

          <div class="bg-white px-4 rounded">
            <h5>Call us</h5>
            <a href="#" class="d-inline-block mb-2 text-decoration-none text-dark">
              <i class="bi bi-telephone-fill"></i> +918445222534
            </a>
            <br>
            <a href="#" class="d-inline-block mb-2 text-decoration-none text-dark">
              <i class="bi bi-telephone-fill"></i> +918445222534
            </a>
          </div>

        <div class="col">
          <div class="bg-white mb-4 p-4 rounded">
            <h5>Follow us</h5>
            <a href="#" class="d-inline-block mb-3">
              <span class="badge bg-light text-dark fs-6 p-2">
                <i class="bi bi-twitter-x me-1"></i>Twitter
              </span>
            </a>
            <br>
            <a href="#" class="d-inline-block mb-3">
              <span class="badge bg-light text-dark fs-6 p-2">
                <i class="bi bi-facebook me-1"></i>Facebook
              </span>
            </a>
            <br>
            <a href="#" class="d-inline-block">
              <span class="badge bg-light text-dark fs-6 p-2">
                <i class="bi bi-instagram me-1"></i>Instagram
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>

